.wrapper {
	width: 70%;
}

.landing {
	display: flex;
	flex-wrap: wrap;
	// margin-bottom: 85px;
	font-family: Microsoft YaHei-Regular, Microsoft YaHei;
}

.paragraph {
	font-size: 40px;
	font-weight: 600;
	font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
		Arial, sans-serif, 'Segoe UI';
	color: #6e6e73;
	margin: 40px 0 20px 0 !important;
}

.ge {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	gap: 40px;
}
